---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Poppins&display=swap");

body {
  text-align: justify;
}

body {
  font-family: "Big Shoulders Text", cursive;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #61380b;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Shoulders Text", cursive;
  color: #ffbf00;
}
